.sortContainer {
    display: flex;
    flex-flow: column nowrap;
    padding: 15px;
}
.list {
    width: 1000px;
    height: 2500px;
    margin: 0;
    padding: 0;
    list-style: square;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
}
.sortingAlert {
    color: #4781d1;
    font-size: 14px;
    font-family: Verdana;
}
.list > li {
    margin: 0px;
    padding: 10px;
    font-family: Verdana;
    font-size: 12px;
    align-self: flex-start;
}
.sortBtnContainer {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.percent {
    font-weight: bold;
}